<section class="mx-5 mb-5">
  <h1 class="text-2xl font-bold">Pipes Uncommon</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
  <app-card title="i18nSelect">
    <p>
      Saludos {{ client().name }}, es un placer
      {{ client().gender | i18nSelect : invitationMap }}
    </p>
    <button (click)="changeClient()" class="btn btn-primary">change</button>
  </app-card>
  <app-card title="i18nPlural">
    <p>
      Actualmente hay {{ clients().length | i18nPlural : clientMap() }}
      en la lista
    </p>
    <button
      [disabled]="clients().length === 0"
      (click)="deleteClient()"
      class="btn btn-primary"
    >
      delete client
    </button>
  </app-card>

  <app-card title="SlicePipe">
    <b>Original</b>
    <p class="text-primary">
      {{ clients().join(", ") }}
    </p>

    <b>Con SlicePipe</b>
    <p class="text-primary">
      {{ clients() | slice : 0 : 3 }}
    </p>

    <b>Con SlicePipe</b>
    <p class="text-primary">
      {{ clients() | slice : 0 : -3 }}
    </p>
  </app-card>

  <app-card title="JsonPipe">
    <pre>{{ client() | json }}</pre>
  </app-card>

  <app-card title="KeyValuePipe">
    <!-- <pre>{{ client() | keyvalue | json }}</pre> -->
    <ul>
      @for (item of profile | keyvalue; track $index) {
      <li>
        <strong class="text-primary">{{ item.key | titlecase }}</strong>
        <span>
          {{ item.value }}
        </span>
      </li>
      }
    </ul>
  </app-card>

  <app-card title="AsyncPipe">
    <p>
      <strong>Promise </strong>
      <span>{{ promiseValue | async }}</span>
    </p>

    @if (promiseValue | async; as value) {
    <p class="text-primary">
      <strong>Promise </strong>
      <span>{{ value }}</span>
    </p>
    } @else {
    <p class="text-primary">
      <span>loading...</span>
    </p>
    }
  </app-card>
</div>
